# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Coverage
coverage/

# Cache
.cache/
.tmp/

# IDE / Editor settings
.vscode/
.idea/

# MongoDB data (if local)
data/
dump/

# Misc
*.swp
*.swo
